@import "./normalize.css";
html {
	scroll-behavior: smooth;
}
body {
	color: #4122aa;
	font-weight: 600;
	height: 100%;
	background: #091322;
	font-family: "Nunito", sans-serif;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem;
}
.accordion {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 1em;
	font-size: 1.5em;
	border: 0.3125em solid #ffffff;
	border-radius: 1.25rem;
	background-color: #74ebd5;
	background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
	cursor: pointer;
}
.accordion__title {
	font-size: 1.5em;
	padding: 0.4em 0.8em 0.8em;
	text-align: left;
	font-weight: 900;
	color: black;
}
.accordion__item {
	border: 0.23rem solid #000000;
	border-radius: 5%;
	background-color: #a6e2d7;
	margin: 0.2em 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	cursor: pointer;

}
.item__title {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	font-size: 0.7em;
	padding: 0.5em 1em;
	text-align: left;
	font-weight: 700;
	cursor: pointer;
	transition: background 0.2s ease-out;
}
.item__container {
	display: none;
	padding: 0.6rem;
	background: #7b73e065;
}
.item__image {
	width: 100%;
	object-fit: contain;
	border-radius: 5%;
	margin: 0 auto;
	animation-name: Appearance;
	animation-duration: 0.8s;
	animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@keyframes Appearance {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@media screen and (min-width: 37.5rem) {
	.accordion__title {
		font-size: 2em;
		padding: 0.5em;
	}
	.accordion__item {
		margin: 0.4em 0;
	}
	.item__title {
		font-size: 1em;
		padding: 0.4em 0.8em;
	}
	.item__image {
		width: 50%;
	}
}
@media screen and (min-width: 80rem) {

	.accordion__title {
		font-size: 2.5em;
	}
	.item__title {
		font-size: 1.5em;
	}
}

@media (hover: hover) {
	.item__title > span {
		display: none;
	}

	.accordion:hover > .accordion__item > .item__title {
		color: rgb(0, 0, 0);
	}
	.accordion:hover > .accordion__item > .item__title span {
		display: block;
	}

	.item__input:hover ~ .item__container {
		display: flex;
	}
	.item__input:hover ~ .item__title span {
		display: block;
		transform: rotate(90deg);
		transition: all 0.6s ease;
	}
}

.item__input {
	display: none;
}
.item__input:checked ~ .item__container {
	display: flex;
}

.item__input:checked + .item__title {
	color: black;
}
.item__input:checked ~ .item__title span {
	transform: rotate(90deg);
	transition: all 0.6s ease;
}
.accordion__item:active > .item__title,
.accordion__item:active > div > .item__image {
	opacity: 0.5;
	color: rgb(71, 71, 185) !important;
}
